<head>
    <link rel='stylesheet' href='static/css/leaderboard.css'>
</head>


<div class="leaderboard-wrapper" ng-controller="UserController">
    <!--<div class="lb-title"><h1>Leaderboard:</h1></div>-->

    <a class="btm hvr-shrink" href="#/play">back</a>


    <div class="lb-main">
        <div class="lb-title"><h1>Global Leaderboard:</h1></div>
        <div class="left-tri"></div>
        <div class="right-tri"></div>

        <img src="static/img/banner_tip.png" class="left-tip">
        <img src="static/img/banner_tip.png" class="right-tip">

        <img src="static/img/lb_gold.png" class="lb-gold">
        <div class="stage">

            <div class="stage2">
                <div class="float">
                    <img src="{{two.image_url}}" class="img-url-2 rounded hvr-pulse-grow" />
                </div>
                <img src="static/img/lb_silver.png" class="lb-silver">
                <div class="two">
                    <img src="static/img/two.png" class="one-icon">
                    <p class="dn">{{two.display_name}}</p>
                    <p class="rn">{{two.real_name}}</p>
                    <h3><span>score: </span>{{two.score}}</h3>
                </div>
                <div class="one1"></div>
            </div>
            <div class="stage1">
                <img src="{{one.image_url}}" class="img-url rounded hvr-pulse-grow" />
                <div class="one">
                    <img src="static/img/one.png" class="one-icon" />
                    <p class="dn">{{one.display_name}}</p>
                    <p class="rn">{{one.real_name}}</p>
                    <h3><span>score: </span>{{one.score}}</h3>
                </div>
                <div class="one1"></div>
            </div>
            <div class="stage3">
                <div class="float">
                    <img src="{{three.image_url}}" class="img-url-2 rounded hvr-pulse-grow" />
                </div>
                <img src="static/img/lb_bronz.png" class="lb-silver">
                <div class="two">
                    <img src="static/img/three.png" class="one-icon" />
                    <p class="dn">{{three.display_name}}</p>
                    <p class="rn">{{three.real_name}}</p>
                    <h3><span>score: </span>{{three.score}}</h3>
                </div>
                <div class="one1"></div>
            </div>


        </div>
        <img src="static/img/chain.png" class="chain-l" />
        <img src="static/img/chain.png" class="chain-r" />
    </div>



    <div class="space">
        <!--<img src="static/img/chain.png" class="chain-l" />-->


    </div>

    <div class="lb-rest-wrapper">




        <div class="user-wrapper">

            <div class="user-title">
                <p class="rank">Rank</p>
                <p class="rank"></p>
                <p class="rank-dn">Display Name</p>
                <p class="rank-rn">Real Name</p>
                <p class="rank-s">Score</p>


            </div>



            <div class='user' ng-repeat="user in users">

                <p class="rank">{{user.rank}}</p>
                <img src="{{user.image_url}}" class="rank2" />
                <p class="rank-dn">{{user.display_name}}</p>
                <p class="rank-rn">{{user.real_name}}</p>
                <p class="rank-s">{{user.score}}</p>



                <!--<a class="user-btn" ng-bind="user.display_name" ng-click="loginShortcut(user)" href="#/home"></a>-->
                <!--<p ng-bind="user.score"></p>-->
            </div>

        </div>






    </div>

</div>

