body{
    /*background-color: #976ed5 !important;*/

    background: #624987; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #452e6e, #624987, #452e6e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #452e6e, #624987, #452e6e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #452e6e, #624987, #452e6e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #452e6e, #624987, #452e6e); /* Standard syntax */








}
.profile-info{
    width: 100%;
    min-width: 1000px;
    min-height: 240px;
    background-color: #F5F5F5;
    padding: 25px 40px 20px 40px;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    /*z-index: -1;*/
}

.profile-wrapper{
    display: inline-block; vertical-align: top;
    position: relative;
    /*outline: 1px dotted red;*/
    min-width: 500px;
    /*width: 300px;*/

}

.profile_img {
    display: inline-block; vertical-align: top;
    width: 140px;
    height: 140px;
    position: absolute;
    float: left;
    /*right: 240px;*/
    overflow: hidden;
    border-radius: 50%;
    border: 8px solid #804FC9;
    z-index: 1;
}

.rounded {
    /*display: inline;*/
    margin: 0 auto;
    height: 100%;
    width: auto;
}
.circle {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 160px;
    height: 160px;
    background: #906BC7;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    border-radius: 80px;
    z-index: 1;
}
/*.circle2 {*/
    /*position: absolute;*/
    /*!*left: 1px;*!*/
    /*!*top: 1px;*!*/
    /*width: 140px;*/
    /*height: 180px;*/
    /*background: #906BC7;*/
    /*-moz-border-radius: 70px 70px 70px 70px;*/
    /*-webkit-border-radius: 70px 70px 70px 70px;*/
    /*border-radius: 70px 70px 70px 70px;*/
    /*z-index: 1;*/
    /*color: #6025B8;*/
/*}*/
.record{
    position: absolute;
    bottom: -122px;
    left: 8px;
    padding: 3px 20px 2px 20px;
    border: 3px solid #E3E3E3;
    border-radius: 1em;
    /*margin-top: 8px;*/
    font-size: 1.1em !important;
    margin-left: 10px;
    color: #C9C9C9;
    /*font-weight: bolder;*/
    z-index: 2;
    background-color: white;
}
.green{
    color: #25B373;
    /*font-size: 1.2em;*/
}
.red{
    color: #C9C9C9;
}

/*.circle3 {*/
    /*position: absolute;*/
    /*!*left: 1px;*!*/
    /*top: 40px;*/
    /*width: 550px;*/
    /*height: 140px;*/
    /*background: white;*/
    /*-moz-border-radius: 70px 70px 70px 70px;*/
    /*-webkit-border-radius: 70px 70px 70px 70px;*/
    /*border-radius: 70px 70px 70px 70px;*/
    /*z-index: 0;*/
    /*color: #6025B8;*/
/*}*/


/*.tri{*/
    /*position: absolute;*/
    /*!*left: 1px;*!*/
    /*top: 150px;*/

    /*width: 0;*/
    /*height: 0;*/
    /*border-left: 70px solid transparent;*/
    /*border-right: 70px solid transparent;*/
    /*border-top: 30px solid #8461B8;*/
    /*z-index: -2;*/
/*}*/


.score{

    display: inline-block; vertical-align: top;
    min-width: 100px;
    padding-left: 35px;
    padding-right: 2px;
    height: 58px;
    /*line-height: 58px;*/
    border: 6px solid #906BC7;
    border-radius: 27px;
    background-color: #906BC7;
    margin-left: 60px;
    margin-top: 10px;
    z-index: 0;
}

.score-wrapper{
    z-index: -1;
    margin: 0 auto;
    text-align: center;
}


.drug-icon{
    position: absolute;
    top: -20px;
    left: 105px;
    display: inline-block; vertical-align: top;
    width: 90px;
    margin-top: 12px;
    z-index: 3;
}

.score-num{
    display: inline-block; vertical-align: top;
    /*margin-top: 10px;*/
    /*margin-left: -10px;*/
    height: 43px;
    line-height: 46px;
    font-size: 1.5em;
    margin-left: 38px;
    margin-top: 2px;
    padding:0 40px 0 70px;
    border-radius: 20px;
    background-color: #804FC9;
    color: white;
}
/*background-color: #804FC9;*/
.display-name{
    position: absolute;
    left: 163px;
    top: 62px;
    display: inline-block; vertical-align: top;
    color: #6E6E6E;
    font-size: 1.6em;
    /*margin-left: 103px;*/
    margin-top: 25px;
    font-weight: bolder;
}

.real-name{
    position: absolute;
    left: 163px;
    top: 108px;
    color: #906BC7;
    font-size: 1.2em;
    /*margin-left: 103px;*/
    margin-top: 13px;
    font-weight: bolder;
}

.created-at{
    position: absolute;
    left: 163px;
    top: 153px;
    color: #BFBFBF;
    font-size: 0.8em;
}

.created-at span{
    color: #A8A8A8 !important;
}



.account-wrapper{
    position: absolute;
    right: 40px;
    top: 20px;
    /*outline: 1px dotted green;*/
    width: 20%;
    min-width: 200px;
    text-align: right;
}


.logout-btn{
    text-align: center;
    display: inline-block; vertical-align: top;
    margin-top: 12px;
    /*margin-left: -10px;*/
    font-size: 1em;
    margin-left: 2px;
    /*margin-top: 5px;*/
    padding:5px 15px 6px 15px;
    border-radius: 20px;
    background-color: #E6E6E6;
    color: white;
    border: none;
    width: 100px;
    /*margin-bottom: 15px;*/
}





.logout-btn:hover{
    color: white;
    /*background-color: #f36472;*/
}

.facebook{
    /*text-align: center;*/
    margin-bottom: 10px;
}

.facebook-btn{
    text-align: center;
    width: 100px;
    display: inline-block; vertical-align: top;
    /*margin-top: 10px;*/
    /*margin-left: -10px;*/
    font-size: 1em;
    margin-left: 2px;
    margin-top: 12px;
    padding:5px 15px 5px 15px;
    border-radius: 20px;
    background-color: #566fa2;
    color: white;
    border: none;

}
.facebook-unlink-btn{
    text-align: center;
    width: 100px;
    display: inline-block; vertical-align: top;
    /*margin-top: 10px;*/
    /*margin-left: -10px;*/
    font-size: 1em;
    margin-left: 2px;
    margin-top: 12px;
    padding:5px 15px 5px 15px;
    border-radius: 20px;
    background-color: #E6E6E6;
    color: white;
    border: none;
}







.social-icon{
    display: inline-block; vertical-align: top;
    width: 50px;
    margin-right: 10px;
}

.check-icon-fb{
    width: 20px;
    position: absolute;
    right: 112px;
    top: 30px;
}

.check-icon-t{
    width: 20px;
    position: absolute;
    right: 112px;
    top: 91px;
}




.twitter-btn{
    text-align: center;
    width: 100px;
    display: inline-block; vertical-align: top;
    /*margin-top: 10px;*/
    /*margin-left: -10px;*/
    font-size: 1em;
    margin-left: 2px;
    margin-top: 12px;
    padding:5px 15px 5px 15px;
    border-radius: 20px;
    background-color: #1abaf6;
    color: white;
    border: none;

}
.twitter-unlink-btn{
    text-align: center;
    width: 100px;
    display: inline-block; vertical-align: top;
    /*margin-top: 10px;*/
    /*margin-left: -10px;*/
    font-size: 1em;
    margin-left: 2px;
    margin-top: 12px;
    padding:5px 15px 5px 15px;
    border-radius: 20px;
    background-color: #E6E6E6;
    color: white;
    border: none;

}




/* NAV BAR Styles :::::::::::::::::::: */
.nav-bar{
    width: 100%;
    min-width: 1000px;
    height: 50px;
    background-color: #333333;
    text-align: center;
}

.nav-div-wrapper1{
    display: inline-block; vertical-align: top;
    position: relative;
    top: -4px;
    width: 250px;
    min-width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    height: 60px;
    background-color: #1BABE0;
    border: 8px solid #1BABE0;
    border-radius: 30px;
}
.nav-div-wrapper11{
    display: inline-block; vertical-align: top;
    position: absolute;
    top: -13px;
    width: 250px;
    left: -8px;
    /*min-width: 200px;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    height: 60px;
    background-color: #1abaf6;
    border: 8px solid #1abaf6;
    border-radius: 30px;
    z-index: 0;
}
.play{
    border-color: #41C489 !important;
    background-color: #41C489 !important;
}
.play-dark{
    border-color: #25B373 !important;
    background-color: #25B373 !important;
}
.achi{
    border-color: #39a1f0 !important;
    background-color: #39a1f0 !important;
}
.achi-dark{
    border-color: #2c8dd8 !important;
    background-color: #2c8dd8 !important;
}
.ldb{
    border-color: #ff4477 !important;
    background-color: #ff4477 !important;
}
.ldb-dark{
    border-color: #DB2C5C !important;
    background-color: #DB2C5C !important;
}


.nav-bar a {
    padding-right: 65px;
    color: white;
    font-size: 1.1em;
    letter-spacing: 2px;
    padding-top: 10px;
    font-family: 'Varela Round', sans-serif;
}


.lbi{
    left: 105px;
    width: 90px;
    position: relative;
    top: -56px;
    z-index: 100;
}
.playi{
    left: 105px;
    width: 105px;
    position: relative;
    top: -66px;
    z-index: 100;
}
.statsi{
    left: 105px;
    width: 90px;
    position: relative;
    top: -53px;
    z-index: 100;
}






.lbis{
    left: 73px;
    width: 90px;
    position: relative;
    top: -25px;
    z-index: -0;
}

.playis{
    left: 73px;
    width: 105px;
    position: relative;
    top: -35px;
    z-index: -0;
}


.statsis{
    left: 73px;
    width: 90px;
    position: relative;
    top: -22px;
    z-index: -0;
}
















.admin-btn{
    float:right;
    margin-top: 175px;

}


























.lb-btn-wrapper{
    /*outline: 1px dotted red;*/
    float: right;
    margin-right: 100px;
    margin-top: 10px;

}

.lb-btn-wrapper span{
    color: white;
    position: relative;
    left: 25px;
    top: -35px;
}

.lb-btn-image{
    width: 40px;
    position: relative;
    left: 35px;
    top: -20px;
}


.nav-div-wrapper-leader{
    display: inline-block; vertical-align: top;
    width: 200px;
    height: 30px;
    background-color: #1abaf6;
    border: 8px solid #1abaf6;
    border-radius: 30px;

}











































